/* updateAccount.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 50px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  margin-left: -150px;
  margin-top: 50px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333333;
}


select[id ="acctDropdown"],
select[id ="new_user_role"]
 {
  width: 135%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-top: 5px;
  box-sizing: border-box; /* Include padding and border in width */
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-left: 24px;
}

.logOutButton,
.updateButton,
.backButton {
  padding: 14px 32px;
  margin-right: 16px;
  background-color: #474b4f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.updateButton {
  background-color: #28a745;
}

.backButton{
  background-color: #dc3545;
}

.logOutButton:hover,
.updateButton:hover,
.backButton:hover {
  background-color: #23272b;
}